.top-menu {
    position: relative;
    height: 70px;
    padding-top: 23px !important;
    margin-left: -21px !important;
}

.word-reload {
    cursor: pointer;
    transform: translateY(+150%);
    border-radius: 50%;
    color: white;
}
