.not-aproofed {
    background-color: #b4152b;
}
.aproofed {
    background-color: #00C853;
}

@media (min-width: 100px) {
    .upload_type {
        padding-bottom: 300px;
    }
}
@media (min-width: 1024px) {
    .upload_type {
        padding-bottom: 0px;
    }
}