{% extends 'base.html.twig' %}
{% block body %}
    {#<h2>{{ phrase.adjective|capitalize }} {{ phrase.subject }} {{ phrase.verb }}</h2>#}

        <div class="col l4 m12" id="subject">
            <div>
                <h2>{{ phrase.adjective|capitalize }}</h2>
                <span class="waves-effect waves-light btn" onclick="loader(this)">'was anderes</span>
            </div>
        </div>
        <div class="col l4 m12" id="adjective">
            <div>
                <h2>{{ phrase.adjective }}</h2>
                <span class="waves-effect waves-light btn-floating grey" onclick="loader(this)"><i class="small material-icons">cached</i></span>
            </div>
        </div>
        <div class="col l4 m12" id="verb">
            <div>
                <h2>{{ phrase.verb }}</h2>
                <span class="waves-effect waves-light btn" onclick="loader(this)">'was anderes</span>
            </div>
        </div>
{% endblock %}