{% extends 'base2.html.twig' %}
{% block body %}
    {#<h2>{{ phrase.adjective|capitalize }} {{ phrase.subject }} {{ phrase.verb }}</h2>#}

        <div class="col l4 m12" id="adjective">
            <div style="min-height: 80px">
                <span style="font-size: 3vw;">{{ phrase.adjective|capitalize }}</span>
                <i class="material-icons word-reload grey" onclick="loader(this)">cached</i>
            </div>
        </div>
        <div class="col l4 m12" id="subject">
            <div style="min-height: 80px">
                <span style="font-size: 3vw;">{{ phrase.subject }}</span>
                <i class="material-icons word-reload grey" onclick="loader(this)">cached</i>
            </div>
        </div>
        <div class="col l4 m12" id="verb">
            <div style="min-height: 80px">
                <span style="font-size: 3vw;">{{ phrase.verb }}</span>
                <i class="material-icons word-reload grey" onclick="loader(this)">cached</i>
            </div>
        </div>
{% endblock %}