<ul id="slide-out" class="sidenav" style="font-size: larger">
    <li>
        <div class="user-view" style="min-height: 50px">
            <div class="background">
                <i class="material-icons red-text">account_box</i> {{ app.user.username }}
            </div>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" style="font-size: x-large" href="{{ app.request.schemeAndHttpHost }}{{ path('new_word') }}"><i class="material-icons red-text">add_box</i>Wort hinzufügen</a></li>
    <li><a class="waves-effect" style="font-size: x-large" href="{{ app.request.schemeAndHttpHost }}{{ path('accept_word') }}"><i class="material-icons red-text">check_box</i>Wörter verwalten</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger red-text"><i class="material-icons">menu</i></a>
 {% block js %}
     <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems);
        });
    </script>
{% endblock %}