{% extends 'base2.html.twig' %}
{% block body %}
    <h2>Neue Wörter, noch nicht begutachtet</h2>
    <table id="newWords" class="striped highlight responsive-table">
        <thead>
            <tr>
                <th>Wort</th>
                <th>Angenommen</th>
                <th>Angenommen am</th>
                <th>Eingereicht am</th>
                <th>Art zuweisen</th>
                <th>Begutachtet</th>
            </tr>
        </thead>
        <tbody>
            {% for type, entries in newWords %}
                {% for entry in entries %}
                    <tr>
                        <td id="{{ entry.id}}_word">{{ entry.word }}</td>
                        <td id="{{ entry.id}}_proofed">{% if entry.proofed %}ja{% else %}nein{% endif %}</td>
                        <td id="{{ entry.id}}_proofedAt">{% if entry.proofedAt is not null %}{{ entry.proofedAt }}{% else %}-{% endif %}</td>
                        <td id="{{ entry.id}}_createdAt">{{ entry.createdAt }}</td>
                        <td class="center-align ">
                            <span id="{{ entry.id}}_type">{{ entry.type }}</span>
                            <a id="{{ entry.id}}_dropdown" class='dropdown-trigger btn' href='#' data-target='dropdown1'>Art zuweisen</a>
                        </td><td class="center-align ">
                            <span id="{{ entry.id}}_proofing" class="btn-floating {% if not entry.proofed %}not-{% endif %}aproofed" onclick="wordAproofed(this)"></span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!" data-type="adjective" onclick="wordTypeConfig.element=$(this)">Adjektiv</a></li>
        <li><a href="#!" data-type="subject" onclick="wordTypeConfig.element=$(this)">Subjekt</a></li>
        <li><a href="#!" data-type="verb" onclick="wordTypeConfig.element=$(this)">Verb</a></li>
    </ul>

    <h2>Schon begutachtete Wörter</h2>
    <table id="uploads" class="striped highlight responsive-table">
        <thead>
            <tr>
                <th>Wort</th>
                <th>Art</th>
                <th>Angenommen</th>
                <th>Angenommen am</th>
                <th>Eingereicht am</th>
                <th>Angenommen-Action</th>
            </tr>
        </thead>
        <tbody>
            {% for type, entries in uploads %}
                {% for entry in entries %}
                    <tr>
                        <td id="{{ entry.id}}_word">{{ entry.word }}</td>
                        <td id="{{ entry.id}}_type">{{ type }}</td>
                        <td id="{{ entry.id}}_proofed">{% if entry.proofed %}ja{% else %}nein{% endif %}</td>
                        <td id="{{ entry.id}}_proofedAt">{% if entry.proofedAt is not null %}{{ entry.proofedAt }}{% else %}-{% endif %}</td>
                        <td id="{{ entry.id}}_createdAt">{{ entry.createdAt }}</td>
                        <td class="center-align ">
                            <span id="{{ entry.id}}_proofing" class="btn-floating {% if not entry.proofed %}not-{% endif %}aproofed" onclick="wordToggle(this)"></span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.dropdown-trigger');
            let options =  {
                onCloseStart: getTriggerName
            };
            let instances = M.Dropdown.init(elems, options);
            document.getElementById("dropdown1").onclick = getDropdownValue;
        });

        function getTriggerName(e) {
            wordTypeConfig.id =`${e.id}`.replace('_dropdown', '');
            wordType();
        }

        function getDropdownValue(e) {
            wordTypeConfig.type =`${e.target.textContent}`;
        }

    </script>
{% endblock %}