<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Die Partei - Phrasendreschmaschine{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('32-partei-icon.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('192-partei-icon.png') }}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{{ asset('180-partei-icon.png') }}"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
    <div class="container">
        <div class="row blue">
            <div class="col s12 center-align grey">
                <img class="responsive-img"
                src="http://tk.die-partei-berlin.de/wp-content/uploads/2016/12/dp_ovtk_logo.png">
            </div>
            <div class="col s12 center-align">
                <div class="col s11 center-align z-depth-3" style="background-color: #b4152b">
                    <h4 style="color: white; font-weight: bold; text-shadow: 2px 2px 10px #000">Phrasendreschmaschine</h4>
                </div>
                <div class="col s1 fixed-action-btn toolbar" style="position: relative; height: 70px;">
                    <a class="btn-floating btn-small"style="background-color: #b4152b">
                        <i class="small material-icons">edit</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating ">neues hoch</a></li>
                        <li><a class="btn-floating ">Api-Doku</a></li>
                    </ul>
                </div>
            </div>
////////
            <div class="col s12 ">
                <div class="col l4 m12 s12" id="subject">
                    <div>
                        <span style="font-size: 3.56rem;">SUBJECT</span><i class="small material-icons" style="font-size: 1.00rem;">cached</i>
                        <!--<span class="waves-effect waves-light btn" onclick="loader(this)">'was anderes</span>-->
                    </div>
                </div>
                <div class="col l4 m12 s12" id="subject">
                    <div>
                        <h2>VERB</h2>
                        <span class="waves-effect waves-light btn" onclick="loader(this)">'was anderes</span>
                    </div>
                </div>
                <div class="col l4 m12 s12" id="subject">
                    <div>
                        <h2>ADJECTIVE</h2>
                        <span class="waves-effect waves-light btn" onclick="loader(this)">'was anderes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                toolbarEnabled: true
            });
        });

    </script>
</body>
</html>