<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Die Partei - Phrasendreschmaschine{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('32-partei-icon.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('192-partei-icon.png') }}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="{{ asset('180-partei-icon.png') }}" />
    <!-- Compiled and minified CSS -->
    {% set protocol = app.environment == 'dev' ? 'http://' : 'https://'%}
    {% set appUrl = (app.environment == 'dev' ? 'http://' : 'https://') ~ app.request.httpHost%}
    <link rel="stylesheet" href="{{ appUrl }}/css/materialize.min.css">
    <link rel="stylesheet" href="{{ appUrl }}/css/maschine.css">
    <link rel="stylesheet" href="{{ appUrl }}/build/css/phrasendreschmaschine.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
{% if is_granted('ROLE_ADMIN') %}
    {% include 'Partei/Phrasendreschmachine/navi.html.twig' %}
{% endif %}
<div class="container">
    <div class="row">

        <div class="col s12 center-align">
            <img class="responsive-img" src="{{ protocol }}tk.die-partei-berlin.de/wp-content/uploads/2016/12/dp_ovtk_logo.png">
        </div>
        <div class="col s12 center-align">
            <div class="col s11 center-align z-depth-3" style="background-color: #b4152b">
                <h4 style="color: white; font-weight: bold; text-shadow: 2px 2px 10px #000">Phrasendreschmaschine</h4>
            </div>
            {#<div class="col s fixed-action-btn top-menu">#}
                {#<a class="btn-floating btn-small grey" >#}
                    {#<i class="small material-icons">menu</i>#}
                {#</a>#}
                {#<ul>#}
                    {#<li><a class="btn-floating grey"><i class="material-icons tooltipped" data-tooltip="neue Phrasen brauchen wir">file_upload</i></a></li>#}
                    {#<li><a class="btn-floating grey tooltipped" data-tooltip="API-Doku" href="{{ url('app.swagger_ui') }}">Api</a></li>#}
                {#</ul>#}
            {#</div>#}
        </div>

        <div class="col s12 center-align flow-text">
            {% block body %}{% endblock %}
        </div>
        {% if (app.request.attributes.get('_route') is same as ('index')) %}
            <div class="col s4" style="margin-top: 30px;">
                <a class="waves-effect waves-light btn-small" style="background-color: #b4152b;" href=".">Nochmal</a>
            </div>
        {% endif %}
    </div>
</div>
{% block javascripts %}
    <!-- Compiled and minified JavaScript -->
    <script src="{{ appUrl }}/js/materialize.min.js"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('build/js/phrasendreschmaschine.js') }}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                toolbarEnabled: false,
                hoverEnabled: false
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    {% block js %}{% endblock %}
{% endblock %}
</body>
</html>